.navbar-container {
    position: fixed;
    background-color: rgba(3, 0, 47, 0.3);
    width: 100%;
    height: 5%;
    z-index: 1;
}
.nav-list {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding-right: 40px;
}
.nav-item {
    display: flex;
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    font-weight: var(--fw-800);
}

.nav-item:hover {
    color: var(--pink);
    transition: all 0.3s;
    text-decoration: underline;
    transform: scale(1.1);
}