@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

:root {
  font-family: 'Inter', sans-serif;

  --fw-400: 400;
  --fw-800: 800;
  --dark-blue: #03002F;
  --light-blue: #4BA5E1;
  --white: #FFFFFF;
  --pink: #FF93E1;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-blue);
  color: var(--white);
  font-weight: var(--fw-400);
}

/*  line-height: 1.5;
  font-weight: 400;
  */