html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
}

/* .app {
  display: flex;
  flex-direction: column;
} */

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

